@model BizTalk.Monitor.Data.Entities.Fault

<div>
    <h4>Fault Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaultId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaultId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NativeMessageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NativeMessageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FailureCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FailureCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaultCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaultCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaultDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaultDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaultSeverity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaultSeverity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceInstanceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceInstanceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaultGenerator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaultGenerator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExceptionMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExceptionMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExceptionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExceptionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExceptionSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExceptionSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExceptionTargetSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExceptionTargetSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExceptionStackTrace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExceptionStackTrace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InnerExceptionMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InnerExceptionMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertMessagesFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertMessagesFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertedDate)
        </dd>
    </dl>
</div>

