@model MessageViewModel



<h4>Message Data and  Content</h4>
<hr />
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-messagedata-tab" data-toggle="tab" href="#nav-messagedata" role="tab" aria-controls="nav-messagedata" aria-selected="false">Message Data</a>

        <a class="nav-item nav-link" id="nav-messagebody-tab" data-toggle="tab" href="#nav-messagebody" role="tab" aria-controls="nav-messagebody" aria-selected="false">Body</a>

    </div>
</nav>

<div>
    <div class="tab-pane fade show active" id="nav-messagedata" role="tabpanel" aria-labelledby="nav-messagedata-tab">

        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MessageName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MessageName)
                </dd>


                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ContentType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ContentType)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MessageId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MessageId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NativeMessageId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NativeMessageId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RoutingUrl)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RoutingUrl)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ResubmitAttempted)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ResubmitAttempted)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ResubmitSuccessful)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ResubmitSuccessful)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.InterchangeId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.InterchangeId)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.InsertedDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.InsertedDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ActivityId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ActivityId)
                </dd>
            </dl>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-messagebody" role="tabpanel" aria-labelledby="nav-messagebody-tab">
        <div>
              <dl class="row">
                <dt class="col-md-2">
                    @Html.DisplayNameFor(model => model.Content)
                </dt>
                <dd class="col-md-10">

                    @Html.Raw(Model.Content);

                </dd>
            </dl>
        </div>

    </div>
</div>


    
